h3{
    background-color: cadetblue;
}
.header{
    background-color: salmon;
}
.kotak{
    background-color: rgb(246, 70, 50); color: yellowgreen;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    padding: 40px;
}